﻿
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

@model IEnumerable<Tryakhov1.Models.Parameters>
<h2>Parameter List using XML</h2>
<table class="table table-bordered">
    <tr>
        <th>Parameter Name</th>
        <th>Parameter Description</th>
        <th>Parameter Value</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterDescription)
            </td>
            <td>
                @switch (item.ParameterType)
                {
                    case "System.String":
                        <input type="text" value="@(item.ParameterValue)" />
                        break;
                    case "System.Int32":
                        <input type="number" value="@(item.ParameterValue)" pattern="[-]{0,1}+[1-9]+[0-9]{0,}"/>
                        break;
                    case "System.Boolean":
                        <input type="checkbox" checked="@(Convert.ToBoolean(item.ParameterValue))" />
                        break;
                    default:
                        @Html.Display("Incorrect type of value")
                        break;
                }
            </td>
        </tr>
    }
</table>